<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>274135806691-uttiq8bb3i35eaki67tmg14ul03cb7mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274135806691-uttiq8bb3i35eaki67tmg14ul03cb7mj</string>
	<key>API_KEY</key>
	<string>AIzaSyCdIxIgejjnAi7-eJiEbRCfE0QLouqu4h8</string>
	<key>GCM_SENDER_ID</key>
	<string>274135806691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fundush.app</string>
	<key>PROJECT_ID</key>
	<string>fundush-29104</string>
	<key>STORAGE_BUCKET</key>
	<string>fundush-29104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:274135806691:ios:38383085955c34f8</string>
	<key>DATABASE_URL</key>
	<string>https://fundush-29104.firebaseio.com</string>
</dict>
</plist>